{% extends "layouts/index.html" %}


{% block title %}
Crear cuenta | MiTienda
{% endblock %}


{% block hero %}
{% endblock %}


{% block section_title %}
{% endblock %}


{% block content %}

<section class="register-page">

    <div class="register-card">

        <div class="register-header">

            <span class="register-label">
                Únete a MiTienda
            </span>

            <h1>
                Crear una cuenta
            </h1>

            <p>
                Regístrate para comprar, vender y gestionar tus productos.
            </p>

        </div>


        {% include "ecommerce/messages.html" %}


        <form method="POST" class="register-form">

            {% csrf_token %}


            {% for field in form %}

                <div class="register-field">

                    <label for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>

                    {{ field }}

                    {% if field.errors %}

                        <div class="register-error">
                            {{ field.errors }}
                        </div>

                    {% endif %}

                </div>

            {% endfor %}


            <button
                type="submit"
                class="register-button"
            >
                Crear cuenta
            </button>

        </form>


        <div class="register-footer">

            <span>
                ¿Ya tienes una cuenta?
            </span>

            <a href="{% url 'login' %}">
                Iniciar sesión
            </a>

        </div>


        <a
            href="{% url 'productos' %}"
            class="register-back"
        >
            ← Volver a productos
        </a>

    </div>

</section>

{% endblock %}